:host {
  display: block;
  padding: 15px;
}

hr {
  margin-top: 30px;
}

.intro {
  margin-top: 30px;
}

.input {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

#result {
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo-wrapper {
  margin-bottom: 40px;
}

.image-wrapper {
  display: table-cell;
  margin: 0 auto 0 40px;
  box-shadow: 0 0 5px darkgray;
  background-color: white;
  padding: 10px;
  table {
    width: 100%;
    height: 100%;
    td {
      vertical-align:middle;
    }
  }
  img {
    width: auto;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 30px;
    margin-left: auto;
    img {
      height: 150px;
    }
  }
}

.form-wrapper {
  display: table-cell;
  margin-right: 40px;
  margin-left: auto;
  @media only screen and (max-width: 768px) {
    margin-right: auto;
  }
}

.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: bolder;
}

h4 {
  font-weight: bold;
}

form {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: snow;
  box-shadow: 0 0 5px darkgray;
}

.form-group--rooftype, .form-group--winddirection, .form-group--areatype, .form-group--windarea {
  display: block;
}

.form-group--height, .form-group--length, .form-group--width, .form-group--heightroof {
  width: calc(50% - 5px);
  display: inline-block;
}

.form-group--height, .form-group--length {
  margin-right: 5px;
  margin-left: auto;
}

.form-group--width, .form-group--heightroof {
  margin-left: 5px;
  margin-right: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
