<div class="intro text-center">
  <div class="logo-wrapper">
    <img src="https://company.bi.group/img/new_logo_2018.PNG"
         alt=""
         height="72">
  </div>
  <h2>Ветровое давление</h2>
  <h4>Команда DASol</h4>
  <p class="lead">
    Данная страница создана для демонстрации <b>алгоритма вычисления ветрового давления</b>,
    <br>который вычисляет нагрузку при заданных переменных
  </p>
</div>
<div class="input">
  <div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)" autocomplete="off">
      <div>
        <mat-form-field class="form-group form-group--rooftype" floatLabel="auto">
          <mat-label>Тип покрытия</mat-label>
          <mat-select
            formControlName="roofType"
            placeholder="Не выбрано"
            (valueChange)="onRoofTypeChanged($event)">
            <mat-option *ngFor="let roofType of roofTypes" [value]="roofType.value">
              {{ roofType.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-group form-group--winddirection" floatLabel="auto">
          <mat-label>Направление ветра</mat-label>
          <mat-select
            formControlName="windDirection"
            placeholder="Не выбрано">
            <mat-option *ngFor="let windDirection of windDirections" [value]="windDirection.value">
              {{ windDirection.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-group form-group--windarea" floatLabel="auto">
          <mat-label>Ветровой район</mat-label>
          <mat-select
            formControlName="windArea"
            placeholder="Не выбрано">
            <mat-option *ngFor="let windArea of windAreas" [value]="windArea.value">
              {{ windArea.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-group form-group--areatype" floatLabel="auto">
          <mat-label>Тип местности</mat-label>
          <mat-select
            formControlName="areaType"
            placeholder="Не выбрано">
            <mat-option *ngFor="let areaType of areaTypes"
                        [value]="areaType.value"
                        [matTooltip]="areaType.viewValue"
                        matTooltipPosition="after">
              {{ areaType.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-group form-group--height" floatLabel="auto">
          <mat-label>Высота здания</mat-label>
          <input
            formControlName="height"
            matInput
            placeholder=""
            type="number"
          />
          <span matSuffix>мм</span>
        </mat-form-field>

        <mat-form-field class="form-group form-group--width" floatLabel="auto">
          <mat-label>Ширина здания</mat-label>
          <input
            formControlName="width"
            matInput
            placeholder=""
            type="number"
          />
          <span matSuffix>мм</span>
        </mat-form-field>

        <mat-form-field class="form-group form-group--length" floatLabel="auto">
          <mat-label>Длина здания</mat-label>
          <input
            formControlName="length"
            matInput
            placeholder=""
            type="number"
          />
          <span matSuffix>мм</span>
        </mat-form-field>

        <mat-form-field class="form-group form-group--heightroof" floatLabel="auto">
          <mat-label>Высота крыши</mat-label>
          <input
            formControlName="heightRoof"
            matInput
            placeholder=""
            type="number"
          />
          <span matSuffix>мм</span>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" size="large" type="submit">
        Посчитать
      </button>
    </form>
  </div>
  <div class="image-wrapper">
    <table>
      <tr>
        <td class="text-center">
          <img *ngIf="this.form.value.roofType === 3"
               [@inOutAnimation]
               src="./assets/размеры%20двускатной%20крыши%20для%20ветровой%20нагрузки.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 1"
               [@inOutAnimation]
               src="./assets/размеры%20дома%20для%20ветровой%20нагрузки.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 3 && this.form.value.windDirection === 1"
               [@inOutAnimation]
               src="./assets/ветровая%20нагрузка%20на%20крышу%20на%20стену%20A.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 3 && this.form.value.windDirection === 2"
               [@inOutAnimation]
               src="./assets/ветровая%20нагрузка%20на%20крышу%20на%20стену%20B.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 1 && this.form.value.windDirection === 1"
               [@inOutAnimation]
               src="./assets/1.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 1 && this.form.value.windDirection === 1"
               [@inOutAnimation]
               src="./assets/2.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 1 && this.form.value.windDirection === 2"
               [@inOutAnimation]
               src="./assets/3.png"
               height="300">
          <img *ngIf="this.form.value.roofType === 1 && this.form.value.windDirection === 2"
               [@inOutAnimation]
               src="./assets/4.png"
               height="300">
        </td>
      </tr>
    </table>
  </div>
</div>
<hr>

<div class="results text-center" id="result">
  <h2>
    Результаты
  </h2>
  <app-dashboard-table [columns]="displayedColumns"
                       [dataSource]="dataSource"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"></app-dashboard-table>
</div>

<hr>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2021 DASol</p>
  <a href="https://dasol.kz">Веб-сайт</a>
</footer>

